*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background:gray;
}
nav{
    background: #594848;
    width:100%;
    overflow: auto;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
li{
    float: left;
}
nav a{
    width: 120;
    display: block;
    text-decoration: none;
    text-align: center;
    background: #594848;
    font-size: 17px;
    color: white;
    padding: 20px 10px;
    font-family: Arial;
}
nav a:hover{
    background: skyblue;
    color:black ;
}
.container{
    max-width: 40px;
    margin: auto;
    background:#f2f2f2;
    overflow: auto;
}
.gallery{
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 390px;
}
.gallery img{
    width: 100%;
    height:auto;
}
.desc{
    padding: 15px;
    text-align: centers;
}
footer{
    padding:10px;
    font-size:17px;
    font-weight:bold;
    text-align:center;
    background:#594848;
    color: white;
    font-family:Arial;
    letter-spacing: 1px;
}
